<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.BoardMaper">
    <insert id="insert">
        <selectKey resultType="int" keyProperty="bno" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into tbl_board(title, content, writer)
        VALUES ('#{title}','#{content}','#{writer}')
    </insert>
<!--insert한 후에 bno를 받기 위해 select key 선언-->

<!--    select 같은경우는 값을 반환 해야 해서 받을 타입을 정해야 한다-->
    <select id="selectList" resultType="org.zerock.domain.Board">
        select title,content,writer,updateDate
        from tbl_board order by bno desc limit #{skip}, #{size}
    </select>
<!--    하나의 파라메터만 받을때는 이름 상관없이 그냥 받을 수 있다-->
<!--    mybatis는 getter를 보고 getskip, getsize로 찾는다 -->

    <delete id="delete">
        delete from tbl_board where bno =#{num};
    </delete>

    <select id="selectOne" resultType="org.zerock.domain.Board">
        select * from tbl_board where bno = #{bno}
    </select>

    <update id="update">
        update tbl_board set title = #{title}, content=#{content}, writer=#{writer} , updatedate = now() where bno = #{bno}
    </update>
</mapper>
